<div class="center">
    <form>
      <mat-form-field MatFormFieldappearance="legacy" [style.width.px]=400>
        <mat-label>Enter String</mat-label>
        <input
          matInput
          placeholder="Please enter string pattern to search for"
          [(ngModel)]="pattern"
          [ngModelOptions]="{ standalone: true }"
        />
        <mat-button-toggle-group name="flags" aria-label="flags" multiple>
            <mat-button-toggle value="Regex" (click)="regexFlag = !regexFlag">Regex</mat-button-toggle>
            <mat-button-toggle value="Match Case" (click)="matchCaseFlag = !matchCaseFlag">Match Case</mat-button-toggle>
            <mat-button-toggle value="Match Whole Word" (click)="wholeWordFlag = !wholeWordFlag">Match Whole Word</mat-button-toggle>
          </mat-button-toggle-group>
      
        <a>
          <button type="submit" (click)="onSubmit()">save</button>
          
        </a>
      </mat-form-field>
    </form>
  </div>



